<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.tanhua.dubbo.mappers.UserInfoMapper">

    <!--id, avatar, nickname, gender, age-->
    <!--查询黑名单用户必要信息-->
    <select id="selectPageBlackList" resultType="com.tanhua.model.domain.UserInfo">
        select id, avatar, nickname, gender, age
        from tb_user_info
        where id in (
            select black_user_id
            from tb_black_list
            where user_id = #{userId}
        )
    </select>
</mapper>
